.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  position: relative;
  left: 50%;
  top: 43%;
  z-index: -1;
  transform: translate(-50%, -50%);
  width: 60%;

  @media (max-width: #{$tablet - 1px}) {
    left: 47%;
    top: 55%;
  }

  @media (max-width: #{$mobile - 1px}) {
    left: 50%;
    top: 50%;
  }

  picture {
    position: absolute;
    width: 100%;
    height: auto;

    &:nth-child(1) {
      width: 26rem;
      left: 13rem;
      top: -1rem;
      z-index: 1;
      opacity: 0;
      animation: fadeInFlamingo 1s ease-out 1s forwards, movementFlamingo 2s ease-in-out 2.2s infinite alternate forwards;

      @media (max-width: #{$tablet - 1px}) {
        width: 15rem;
        left: 4rem;
        // top: 20rem;
      }

      @media (max-width: #{$mobile - 1px}) {
        left: -3rem;
      }
    }

    &:nth-child(2) {
      width: 27.5rem;
      right: 10rem;
      top: -10rem;
      opacity: 0;
      animation: movementLeafRight 2s ease-in 2.2s forwards;
      transform-origin: left;

      @media (max-width: #{$tablet - 1px}) {
        width: 17rem;
        right: -5rem;
        // top: 16rem;
      }

      @media (max-width: #{$mobile - 1px}) {
        right: -6rem;
      }
    }

    &:nth-child(3) {
      width: 28rem;
      left: 3rem;
      // top: 24rem;
      top: 0;
      opacity: 0;
      animation: movementLeafLeft 2s ease-in 2.2s forwards;
      transform-origin: right;

      @media (max-width: #{$tablet - 1px}) {
        width: 17rem;
        left: -3rem;
      }

      @media (max-width: #{$mobile - 1px}) {
        left: -7rem;
      }
    }

    &:nth-child(4) {
      width: 33rem;
      right: 8rem;
      top: 4rem;
      opacity: 0;
      animation: movementLeafGreenRight 2s ease-in 2.2s forwards;
      transform-origin: left;

      @media (max-width: #{$tablet - 1px}) {
        width: 15rem;
        right: -2rem;
        top: 1rem;
      }

      @media (max-width: #{$mobile - 1px}) {
        right: -6rem;
      }
    }

    &:nth-child(5) {
      width: 34rem;
      left: 17rem;
      top: -10rem;
      opacity: 0;
      animation: fadeInSuitcase 1s ease-out 1s forwards;

      @media (max-width: #{$tablet - 1px}) {
        width: 20rem;
        left: 5rem;
      }

      @media (max-width: #{$mobile - 1px}) {
        left: -2rem;
      }
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@keyframes fadeInFlamingo {
  0% {
    transform: translateY(100%) scale(0);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes movementFlamingo {
  0% {
    transform: translateY(0) rotate(0);
  }

  50% {
    opacity: 1;
    transform: translateY(-10px) rotate(5deg);
  }

  100% {
    opacity: 1;
    transform: translateY(10px) rotate(-3deg);
  }
}

@keyframes fadeInSuitcase {
  0% {
    opacity: 1;
    transform: translateY(100%) scale(0);
  }

  70% {
    opacity: 1;
    transform: translateY(0) scale(1.1);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes movementLeafLeft {
  0% {
    transform: skew(-20deg, 20deg);
  }

  20% {
    transform: skew(10deg, -10deg);
  }

  40% {
    transform: skew(-4deg, 4deg);
    opacity: 1;
  }

  60% {
    transform: skew(2deg, -2deg);
  }

  80% {
    transform: skew(-2deg, 2deg);
  }

  100% {
    transform: skew(0deg, 0deg);
    opacity: 1;
  }
}

@keyframes movementLeafRight {
  0% {
    transform: skew(20deg, -20deg);
  }

  25% {
    transform: skew(-10deg, 10deg);
  }

  50% {
    transform: skew(4deg, -4deg);
    opacity: 1;
  }

  65% {
    transform: skew(-2deg, 2deg);
  }

  80% {
    transform: skew(2deg, -2deg);
  }

  100% {
    transform: skew(0deg, 0deg);
    opacity: 1;
  }
}

@keyframes movementLeafGreenRight {
  0% {
    transform: skew(20%, -20deg);
  }

  20% {
    transform: skew(-7deg, 7deg);
  }

  40% {
    transform: skew(4deg, -4deg);
    opacity: 1;
  }

  60% {
    transform: skew(-2deg, 2deg);
  }

  80% {
    transform: skew(2deg, -2deg);
  }

  100% {
    transform: skew(0deg, 0deg);
    opacity: 1;
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;
  opacity: 0;
  animation: showTitleResult 1s ease-in forwards;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

@keyframes showTitleResult {
  to {
    opacity: 1;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;
  opacity: 0;
  animation: showTextResult 1s ease-in forwards;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

@keyframes showTextResult {
  to {
    opacity: 1;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }

  .result__button {
    opacity: 0;
    animation: showTitleResult 1s ease-in forwards;
    animation-delay: 1s;

    span {
      animation: spinRight 0.7s 1 forwards;
      animation-delay: 1s;
    }
  }
}
